.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card :global(.ant-card-head) {
    padding: 0 1em;
}

.card :global(.ant-card-body) {
    padding: 1em;
}

.dataRow {
    display: flex;
    gap: 1em;
}

.dataRow :first-child {
    min-width: 35%;
}
