.error {
    margin-bottom: 1em;
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.logo {
}

.loading {
    text-align: center;
}

.configError {
    margin-bottom: 1em;
}