.container {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  a {
    color: unset;
  }
}

.logo {
  margin: 1em;

  img {
    border-radius: 4px;
  }
}

.title {
  font-size: 1.4em;
  font-weight: 500;
  margin-left: 1em;
}

.userSection {
  margin-right: 1em;
}

.mainContent {
  margin: 24px 16px;
  padding: 24px;
  overflow: hidden;
}
