.entryPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.card {
    width: 500px;
    margin: 1em 0;
}

.email {
    margin: 0 0 1em 0;
}