:global(.ant-descriptions-view) table {
    table-layout: auto;
}

:global(.ant-descriptions-item-label) {
    white-space: nowrap;
}

:global(.ant-descriptions-item-content) {
    width: 100%;
}

.header {
    margin-bottom: 1em;
}