@import '../../styles/variables';

.events {
    margin: 0;
    padding: 0;
}

.events li {
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: 5px solid;
    border-radius: 2px;
    padding: 0 0.5em;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &.approved {
        border-left-color: green;
    }

    &.tentative {
        border-left-color: yellow;
    }

    &.rejected {
        border-left-color: red;
    }
}

.events li:hover {
    background-color: rgb(240, 240, 240);
}
