@use '../../styles/mixins' as m;

.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;

    table {
        @include m.collapsedTable;

        td:not(:nth-child(2)) {
            text-align: center;
        }

        .dateColumn {
            width: 160px;
        }

        .openColumn {
            width: 40px;
        }
    }
}